#outloader_1{
	font-family: Roboto;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: white;
	position: relative;
}
#outloader_1in{
	height: 100vh;
	width: 100vw;
	background-image: url(/imgs/bg7.png);
	background-size: cover;
	background-position: center;
	overflow: hidden;
	background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}
#responsible{
	position: absolute; 
	height: auto;
	width: 100vw;
	right: 0;
	top: 11vh;
	font-family: Boogaloo;
	/* font-size: 115px; */
	font-weight: 900;
	text-align: center;
	text-shadow: 3px 4px black;
	animation:  text1 6s, pulse 3s;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	translate: (-100px, 200px);
	opacity: 100%;
}
@keyframes text1{
	0%{color: rgba(255, 192, 203, 0.664);}
	10%{color: rgba(255, 0, 0, 0.712);}
	20%{color: rgba(255, 166, 0, 0.705);}
	30%{color: rgba(255, 255, 0, 0.705);}
	40%{color: rgba(0, 128, 0, 0.705);}
	50%{color: rgba(0, 0, 255, 0.678);}
	60%{color: rgba(76, 0, 130, 0.671);}
	70%{color: rgba(238, 130, 238, 0.705);}
	80%{color: rgba(165, 42, 42, 0.678);}
	90%{color: rgba(0, 0, 0, 0.651);}
	100%{color: rgba(165, 92, 155, 0.726);}
}

@keyframes pulse{
	0%{font-size: 115px;}
	10.6%{font-size: 100px;}
	33.2%{font-size: 115px;}
	37.8%{font-size: 100px;}
	66.4%{font-size: 115px;}
	75%{font-size: 100px;}
	100%{font-size: 115px;}
}
#sub{
	position: absolute;
	height: 33px;
	width: 0vw;
	font-family: Comfortaa;
	font-size: 30px;
	top: 60vh;
	left: 30vw;
	color: rgb(0, 255, 149);
	text-shadow: 2px 2px rgb(30, 30, 30);
	animation: text2 5s 5s steps(82, end) infinite,
    blink-caret .75s step-end infinite;
    animation-fill-mode: forwards;
	overflow: hidden;
	border-right: 1.5px solid transparent;
	white-space: nowrap;
    font-weight: bolder;
}
@keyframes text2{
	0%{width: 0;}
	70%{width: 39vw;}
	90%{width: 39vw;}
	100%{width: 0;}
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: yellow;}
}

#nav-ul {
    margin: 0px;
}

.question {
    font-family: 'merriweather';

}

.answer {
    font-family: 'merriweather';
}

.answer:hover, .points-ul > li:hover{
    font-size: 20px;
    transition-duration: 2s;
}

.spaced {
    animation: colorchange infinite 10s;
    padding: 50px 100px;
}

.img-faq {
	width: 60%;
	box-shadow: 20px 20px 5px 10px rgba(0, 0, 0, 0.561)	;
}